#cy {
  width: 500px;
  height: 500px;
  border-style: solid;
  border-width: 2px;
}
#vis{
  width: 300px;
  height: 473px;
  border-style: solid;
  border-width: 2px;
  overflow: auto;
}
#buttons{
  width: 300px;
  border-style: solid;
  border-width: 2px;
}
.cy {
  grid-area: draw;
}

.buttons {
  grid-area: butt;
}

.vis {
  grid-area: chart;
}

.container {
  display: grid;
  grid-template-columns: 510px 300px;
  grid-template-rows: auto auto;
  grid-template-areas:
    "draw butt"
    "draw chart";
}