#cy {
  margin: 10px;
  width: 400px;
  height: 400px;
  border-style: solid;
  border-width: 2px;
}

#sentChart {
  margin: 10px;
  width: 300px;
  height: 400px;
  border-style: solid;
  border-width: 2px;
  overflow: auto;
}

#receiveChart {
  margin: 10px;
  width: 300px;
  height: 400px;
  border-style: solid;
  border-width: 2px;
  overflow: auto;
}

#pie {
  margin: 10px;
  width: 200px;
  height: 400px;
  border-style: solid;
  border-width: 2px;
  overflow: auto;
}

#buttons {
  margin: 10px;
  width: 295px;
  border-style: solid;
  border-width: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}

.cy {
  grid-area: draw;
}


.buttons {
  grid-area: butt;
}

.sentChart {
  grid-area: sentChart;
}

.receiveChart {
  grid-area: receiveChart;
}

.vega-actions {
  display: none
}

.pie {
  grid-area: pie;
}

.container {
  display: grid;
  grid-template-columns: 310px 410px 310px 200px;
  grid-template-rows: auto auto;
  grid-template-areas:
    "receiveChart draw sentChart pie"
    "receiveChart draw butt pie";
}