#cy {
  margin: 10px;
  width: 500px;
  height: 500px;
  border-style: solid;
  border-width: 2px;
}

#sentChart {
  margin: 10px;
  width: 300px;
  height: 473px;
  border-style: solid;
  border-width: 2px;
  overflow: auto;
}

#receiveChart {
  margin: 10px;
  width: 300px;
  height: 473px;
  border-style: solid;
  border-width: 2px;
  overflow: auto;
}

#buttons {
  margin: 10px;
  width: 300px;
  border-style: solid;
  border-width: 2px;
}

.cy {
  grid-area: draw;
}

.buttons {
  grid-area: butt;
}

.sentChart {
  grid-area: sentChart;
}

.receiveChart {
  grid-area: receiveChart;
}

.container {
  display: grid;
  grid-template-columns: 310px 510px 310px;
  grid-template-rows: auto auto;
  grid-template-areas:
    "receiveChart draw sentChart"
    "receiveChart draw butt";
}